{template "content","header"}
<!--End .mainNav-->
    <!--End .header-->
{template "content","header_min"}
    <!--End .banner-->
    <div id="container" class="clearfix">
        <div class="productMain clearfix">
            <div class="proLeftNav">
              <div class="proLeftNavTitle">
                    产品分类</div>
        {template "content","left_chanpin"}        

 </div>
            <div class="productRight">
                <div class="proRightTitle">
                    <span class="sn">{$catname}</span><div class="smallNav">
                     <a href="{siteurl($siteid)}">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp; {catpos($catid)}</div>
                </div>
                <div class="proRightBox">
                  <div class="recommendBox">
                        <h2 class="h2">
                            最新推荐</h2>
                        <div class="recommendList">
                            <ul class="imglist">
                                  {pc:get sql="SELECT * FROM ybl_cn_picture  ORDER BY listorder desc" num="6"}
                                {loop $data $r}
                             <li><p><a href="{$r['url']}"><img src="{$r[thumb]}" width="170" height="132" /></a></p>
                                            <p>{$r[title]}</a></p>
                                        </li>
                                        {/loop}
                                        {/pc}
                               
                            </ul>
                        </div>
                        <script>
                        
                        </script>
                    </div>
                

                        <ul class="proList clearfix">
                            
                                    <li>
                                        <p class="pic"><a href=""><img src="{IMG_PATH}cp.jpg" width="170" height="132" /></a></p>
                                        <p><a href="">SR-96106</a></p>
                                   </li>
                                    <li>
                                        <p class="pic"><a href=""><img src="{IMG_PATH}cp.jpg" width="170" height="132" /></a></p>
                                        <p><a href="">SR-96106</a></p>
                                   </li>
                                    <li>
                                        <p class="pic"><a href=""><img src="{IMG_PATH}cp.jpg" width="170" height="132" /></a></p>
                                        <p><a href="">SR-96106</a></p>
                                   </li>
                                    <li>
                                        <p class="pic"><a href=""><img src="{IMG_PATH}cp.jpg" width="170" height="132" /></a></p>
                                        <p><a href="">SR-96106</a></p>
                                   </li>
                                    <li>
                                        <p class="pic"><a href=""><img src="{IMG_PATH}cp.jpg" width="170" height="132" /></a></p>
                                        <p><a href="">SR-96106</a></p>
                                   </li>
                                    <li>
                                        <p class="pic"><a href=""><img src="{IMG_PATH}cp.jpg" width="170" height="132" /></a></p>
                                        <p><a href="">SR-96106</a></p>
                                   </li>
                                    <li>
                                        <p class="pic"><a href=""><img src="{IMG_PATH}cp.jpg" width="170" height="132" /></a></p>
                                        <p><a href="">SR-96106</a></p>
                                   </li>
                                    <li>
                                        <p class="pic"><a href=""><img src="{IMG_PATH}cp.jpg" width="170" height="132" /></a></p>
                                        <p><a href="">SR-96106</a></p>
                                   </li>
                                
                        </ul>
<div class="page">
<a class="first" style="margin-right:5px;">首页</a><a class="pre" style="margin-right:5px;">上一页</a><span class="cur_page" style="margin-right:5px;">1</span><a href="list.aspx?id=5&amp;page=2" style="margin-right:5px;">2</a><a href="list.aspx?id=5&amp;page=3" style="margin-right:5px;">3</a><a href="list.aspx?id=5&amp;page=4" style="margin-right:5px;">4</a><a href="list.aspx?id=5&amp;page=5" style="margin-right:5px;">5</a><a href="list.aspx?id=5&amp;page=6" style="margin-right:5px;">6</a><a class="next" class="next" href="list.aspx?id=5&amp;page=2" style="margin-right:5px;">下一页</a><a class="last" class="last" href="list.aspx?id=5&amp;page=6" style="margin-right:5px;">尾页</a>
</div>
</div>
          </div>
      </div>
</div>
    </div>
<script type="text/javascript">
        $(function () {
            if ($("#hfid").val() != "") {
                var hf = $("#hfid").val();
                $(".productSmain a[srcs=0]").each(function () {
                    $(".productSmain a[name=" + $(this).attr("name") + "]").each(function () {
                        if (hf.indexOf("|" + $(this).attr("srcs") + "|") > -1) {
                            $(".productSmain a[srcs=0][name=" + $(this).attr("name") + "]").parent().attr("class", "");
                            $(this).parent().attr("class", "current");
                        }
                    })

                })
                $(".proMainTop").trigger("click");
            }
            $(".proMainTop").trigger("click");
            $(".productSmain a").click(function () {
                var name = $(this).attr("name");
                var id = $(this).attr("srcs");
                var hf = $("#hfid").val();
                if (name != "" && id != "") {
                    if (hf == "") {
                        if (id != "0") {
                            hf = "|" + id + "|";
                        }
                    } else {
                        if (hf.indexOf("|" + id + "|") < 0) {
                            $(".productSmain a[name=" + name + "]").each(function () {
                                if (hf.indexOf("|" + $(this).attr("srcs") + "|") > -1) {
                                    hf = hf.replace("|" + $(this).attr("srcs") + "|", "|");
                                }
                            })
                            if (id != "0") {
                                hf += id + "|";
                            }
                        }   //                    else {
                        //                        if (hf == "") {
                        //                            hf = "|" + id + "|";
                        //                        } else {
                        //                            hf += id + "|";
                        //                        }
                        //                    }
                    }

                }
                $("#hfid").val(hf);
                if (hf == "|") hf = "";
                if (hf == "") {
                    window.location.href = "list.aspx?id=49#pro";
                } else {
                    window.location.href = "list.aspx?id=49&hid=" + hf + "#pro";
                }
            });

        });
        function voids() { }
    </script>
    <!--End .container-->
 {template "content","footer"}
