<div class="bottom clearfix">
  <div class="bottomWrap">
        <span class="arrowBot"></span>
        <dl>
            <dt>了解亿佰利</dt>
            <dd><a href="">关于亿佰利</a></dd>
            <dd><a href="">企业文化</a></dd>
            <dd><a href="">PDF文件</a></dd>
            <dd><a href="">视频中心</a></dd>
            <dd><a href="">人才招聘</a></dd>
        </dl>
        <dl>
            <dt>产品中心</dt>
                <dd><a href="">烫图</a></dd>
                <dd><a href="">钻</a></dd>
                <dd><a href="">八角</a></dd>
                <dd> <a href="">半圆片</a></dd>
                <dd><a href="">平片</a></dd>
                <dd><a href=""> 镜面钻</a></dd>
                <dd><a href="">镇住</a></dd>
                <dd><a href="">亚克力</a></dd>
                <dd><a href="">仿捷克钻</a></dd>
                <dd><a href="">铜片</a></dd>
                <dd><a href="">烫画</a></dd>
                
        </dl>
<dl>
      <dt>亿佰利新闻</dt>
            <dd><a href="">企业新闻</a></dd>
            <dd><a href="">展会信息</a></dd>
        </dl>
        <dl>
            <dt>测试报告</dt>
            <dd><a href="">测试报告</a></dd>
            <dd><a href="">认证报告</a></dd>
         </dl>
        <dl>
            <dt>加入我们</dt>
            <dd><a href="">加入我们</a></dd>
            
        </dl>
        <dl>
      <dt>联系我们</dt>
            <dd><a href="">联系我们</a></dd>
            <dd><a href="">在线留言</a></dd>
        </dl>
        <div class="bottomRight">
            </div>
    </div>
</div>
<div class="clear">
</div>
<div class="footer">
  <div class="foot">
        <span class="arrowBot01"></span>
        <div class="footLeft fl">
            <a href="#" class="sn">工厂地图</a>
            <a href="#"class="sn1" >在线交流</a>
            <a href="#" class="sn2">发送邮件</a>
            <span class="sn3">86-0532-68003910</span>
				<!--<a            href="#" class="sn4">English</a>-->
				
				<a href="" target="_blank"
                        class="tmall"></a>
        </div>
        <div class="footRight fr">
            
        </div>
    </div>
</div>
<!--End .footer-->
<script src="{JS_PATH}jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="{JS_PATH}script.js" type="text/javascript"></script>
<script src="{JS_PATH}jquery.bannerSwitch.js" type="text/javascript"></script>
<script src="{JS_PATH}jquery.KinSlideshow-1.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{JS_PATH}jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{JS_PATH}banner.js"></script>
<script type="text/javascript" src="{JS_PATH}scrolltopcontrol.js"></script>
<script type="text/javascript">
<!--
    $(function () {
        $(".bannerSwitch01").bannerSwitch({
            time: 5000,
            animation: 1500
        });
        $(".bannerSwitch02").bannerSwitch({
            time: 3000,
            animation: 1500
        });
        $(".bannerSwitch03").bannerSwitch({
            time: 5000,
            animation: 1000
        });
        //if ($(window).width() > 1440) {
        //$('.head').width('1440px')
        //} else {
        // $('.head').width('100%');
        //}
        $('.hotelRight').banner({
            direction: 'lr',
            mode: 'slide', //动画方式 fade(渐隐渐现) / slide 左右滑入
            pages: true,  //是否需要pages true/false
            btns: true,  //是否需要btns true/false
            title: true, //是否需要title true/false
            autoanimate: false, //是否需要自动 true/false
            ease: 'easeInOutQuart', //ease插件
            cycle: false, //是否循环
            auto: 4000,  //停留时间
            animation: 500 //动画时间
        });
    });
//-->
</script>
<script type="text/javascript" src="{JS_PATH}jquery.jcarousel.min.js"></script>
<script type="text/javascript">
    $(function () {
        var len = $(".imglist li").length;
        if (len > 3) {
            $('.imglist').jcarousel({
                wrap: 'circular',
                auto: 5,
                scroll: 1,
                animation: 1000
            });
        } else {
            jQuery('.imglist').jcarousel({
                wrap: 'null',
                scroll: 4,
                animation: 4000
            });
        }

        $("#btok").click(function () {
            var key = $("#txtkey").val();
            if (key.length < 1) {
                alert("请输入搜索关键字");
                return false;
            }
            var type = $("#ddltype").val();
            window.location.href = type + key;
        });

    });
</script>


</body>
</html>
