<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<link type="text/css" href="{CSS_PATH}base.css" rel="stylesheet" />
<link type="text/css" href="{CSS_PATH}page.css" rel="stylesheet" />
<title>亿佰利</title>
</head>
<body>

<div class="header clearfix">
<div class="head">

	<div class="ss">
	<div class="s11"><ul>	
	<li><a href="#"  class="s01"><img src="{IMG_PATH}t11.jpg" width="28" height="17" /></a></li>	
	<li ><a href="#" class="s02"><img src="{IMG_PATH}t22.jpg" width="28" height="17" /></a></li>
	<li ><a href="# " class="s03"> <img src="{IMG_PATH}t33.jpg" width="28" height="17" /></a></li>
	<li ><a href="#" class="s04"><img src="{IMG_PATH}t44.jpg" width="28" height="17" /></a></li>
	</ul></div>
    	<div class="p1"></div>
        <div class="p2"><input name="" id="txtkey" type="text" /></div>
        <div class="p3"><select id="ddltype">
          <option value="/product/Results.aspx?key=">产品型号</option>
          <option  value="/news/Results.aspx?key=">新闻标题</option>
      </select></div>
        <div class="p4"><input type="button" id="btok" value="搜索" /></div>
       
    </div>
    <div class="logo">
        <a href="/"><img src="{IMG_PATH}img_02.jpg" width="171" height="89" /></a>       
    </div>
    <div class="mainNav clearfix">   
        <ul class="nav clearfix">
            <li class="about "><a href="">了解亿佰利</a></li>
            <li class="product "><a href="">产品中心</a></li>
          <li class="project "><a href="">亿佰利新闻</a></li>
          <li class="support "><a href="">测试报告</a></li>
             <li class="technology "><a href="">加入我们</a></li>
           <li class="contact "><a href="">联系我们</a></li>                     
        </ul>    
        <a href="/" class="backHome">返回首页</a>
    </div>
</div>
    <div class="navShow-about">
        <div class="navShowwrap">  
        <ul class="navList">
            <li ><a href="">关于亿佰利</a></li>
            <li ><a href="">企业文化</a></li>
            <li ><a href="">PDF文件</a></li>
            <li ><a href="">视频中心</a></li>
            <li ><a href="">人才招聘</a></li>

         </ul>                             
         </div>
    </div>

    <div class="navShow-product">
        <div class="navShowwrap">
         <ul class="nSplist">
          
            <li><p><a href=""><img src="{IMG_PATH}161420583022.jpg" width="119" height="96" alt=""/></a></p><p><a href="">烫图</a></p></li>
            
            <li><p><a href=""><img src="{IMG_PATH}171423299005.jpg" width="119" height="96" alt=""/></a></p><p><a href="">钻</a></p></li>
            
            <li><p><a href=""><img src="{IMG_PATH}171418231100.jpg" width="119" height="96" alt=""/></a></p><p><a href="">八角</a></p></li>
            
            <li><p><a href=""><img src="{IMG_PATH}161420583022.jpg" width="119" height="96" alt=""/></a></p><p><a href="">半圆片</a></p></li>
        </ul>  
		 <ul class="nameList">     
                <li><a href="">烫图</a></li>
                <li><a href="">钻</a></li>
                <li><a href="">八角</a></li>
                <li> <a href="">半圆片</a></li>
         </ul>
		 
		  <ul class="nameList">     
                <li><a href="">平片</a></li>
               <li><a href=""> 镜面钻</a></li>
                <li><a href="">镇住</a></li>
               <li><a href="">亚克力</a></li>
         </ul>
		 
		  <ul class="nameList">     
                <li><a href="">仿捷克钻</a></li>
                <li><a href="">铜片</a></li>
                <li><a href="">烫画</a></li>
         </ul>
 </div>
    </div>
    <div class="navShow-project">
        <div class="navShowwrap">          
         <ul class="navList">
            <li><a href="" >企业新闻</a></li>
             <li><a href="" >展会信息</a></li>

              </ul>        
         </div>
    </div>
    <div class="navShow-support">
        <div class="navShowwrap">          
         <ul class="navList">
            <li ><a href="">测试报告</a></li>
            <li ><a href="">认证报告</a></li>

         </ul>        
         </div>
    </div>
    <div class="navShow-contact">
        <div class="navShowwrap">          
         <ul class="navList">
            <li ><a href="">联系我们</a></li>
            <li ><a href="" class="bKnone">在线留言</a></li>
         </ul>        
         </div>
    </div>
</div>