<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<link type="text/css" href="{CSS_PATH}base.css" rel="stylesheet" />
<link type="text/css" href="{CSS_PATH}page.css" rel="stylesheet" />
<title>亿佰利</title>
</head>
<body>

<div class="header clearfix">
<div class="head">

	<div class="ss">
	<div class="s11"><ul>	
	<li><a href="#"  class="s01"><img src="{IMG_PATH}t11.jpg" width="28" height="17" /></a></li>	
	<li ><a href="#" class="s02"><img src="{IMG_PATH}t22.jpg" width="28" height="17" /></a></li>
	<li ><a href="# " class="s03"> <img src="{IMG_PATH}t33.jpg" width="28" height="17" /></a></li>
	<li ><a href="#" class="s04"><img src="{IMG_PATH}t44.jpg" width="28" height="17" /></a></li>
	</ul></div>
    	<div class="p1"></div>
        <div class="p2"><input name="" id="txtkey" type="text" /></div>
        <div class="p3"><select id="ddltype">
          <option value="/product/Results.aspx?key=">产品型号</option>
          <option  value="/news/Results.aspx?key=">新闻标题</option>
      </select></div>
        <div class="p4"><input type="button" id="btok" value="搜索" /></div>
       
    </div>
    <div class="logo">
        <a href="/"><img src="{IMG_PATH}img_02.jpg" width="171" height="89" /></a>       
    </div>
    <div class="mainNav clearfix">   
        <ul class="nav clearfix">
            {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
            {loop $data $r}
            <li class="{$r[description]} "><a href="{$r[url]}">{$r[catname]}</a></li>
            {/loop}
            {/pc}                   
        </ul>    
        <a href="{siteurl($siteid)}" class="backHome">返回首页</a>
    </div>
</div>
    <div class="navShow-about">
        <div class="navShowwrap">  
        <ul class="navList">
             {pc:content action="category" catid="6" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
             <li ><a href="{$r[url]}">{$r[catname]}</a></li>
             {/loop}
            {/pc}  

         </ul>                             
         </div>
    </div>

    <div class="navShow-product">
        <div class="navShowwrap">
         <ul class="nSplist">
          
            <li><p><a href=""><img src="{IMG_PATH}161420583022.jpg" width="119" height="96" alt=""/></a></p><p><a href="">烫图</a></p></li>
            
            <li><p><a href=""><img src="{IMG_PATH}171423299005.jpg" width="119" height="96" alt=""/></a></p><p><a href="">钻</a></p></li>
            
            <li><p><a href=""><img src="{IMG_PATH}171418231100.jpg" width="119" height="96" alt=""/></a></p><p><a href="">八角</a></p></li>
            
            <li><p><a href=""><img src="{IMG_PATH}161420583022.jpg" width="119" height="96" alt=""/></a></p><p><a href="">半圆片</a></p></li>
        </ul>  
            {pc:content action="category" catid="12" num="25" siteid="$siteid" order="listorder ASC"}
            {php $i=1;}
            <ul class="nameList">     
             {loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                          {if $i%4==0}
                </ul><ul class="nameList">   
                {/if} 
                 {php  $i++;}
             {/loop}
             {/pc}
             </ul>
 </div>
    </div>
    <div class="navShow-project">
        <div class="navShowwrap">          
         <ul class="navList">
             {pc:content action="category" catid="13" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
            <li><a href="{$r[url]}" >{$r[catname]}</a></li>
               {/loop}
             {/pc}
         

              </ul>        
         </div>
    </div>
    <div class="navShow-support">
        <div class="navShowwrap">          
         <ul class="navList">
             {pc:content action="category" catid="14" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
            <li ><a href="{$r[url]}">{$r[catname]}</a></li>
             {/loop}
             {/pc}
        

         </ul>        
         </div>
    </div>
    <div class="navShow-technology">
        <div class="navShowwrap">          
         <ul class="navList">
             {pc:content action="category" catid="15" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
            <li ><a href="{$r[url]}">{$r[catname]}</a></li>
            {/loop}
             {/pc}

         </ul>        
         </div>
    </div>
    <div class="navShow-contact">
        <div class="navShowwrap">          
         <ul class="navList">
             {pc:content action="category" catid="16" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
            <li ><a href="{$r[url]}">{$r[catname]}</a></li>
             {/loop}
             {/pc}
            
         </ul>        
         </div>
    </div>
</div>