{template "content","header"}
<div class="banner bannerSwitch01">
        <ul>
            {pc:get sql="SELECT setting FROM ybl_poster WHERE spaceid = 11 AND type='images' AND disabled=0 ORDER BY listorder ASC" num="4"}
               {loop $data $r}
               <?php eval("\$narry =$r[setting];");?>
               <li><a  href="{$narry[1][linkurl]}"><img src="{$narry[1][imageurl]}" width="1440" height="565" /></a></li>
               {/loop} 
            {/pc}
     
                
        </ul>
        <div >
            <dl>
              <dd>1</dd>
              <dd>2</dd>
              <dd>3</dd>
              <dd>4</dd>
              </dl>
        </div>
    </div>
    <!--End .banner-->
<div id="container" class="clearfix">
  <div class="wrapMain">
            <div class="homeLeft">
                 {pc:get sql="SELECT ybl_cn_news.* FROM ybl_position_data left join ybl_cn_news on ybl_position_data.id= ybl_cn_news.id where ybl_position_data.posid=21 and ybl_cn_news.id is not null   ORDER BY listorder desc" num="1"}
                                {loop $data $r}
                <div class="newsTop clearfix">
                    <div class="nTleft">
                        <a href="{$r['url']}">
                            <img src="{$r['thumb']}" width="188" height="126" alt="" /></a></div>
                    <div class="nTright">
                        <a href="{$r['url']}">{str_cut(strip_tags($r[title]),40,"...")}</a><br />
                        <span>{date('Y-m-d',$r[inputtime])}</span><br />
                        <span>{$r['description']}</span>
                        </div>
                </div>
                                  {/loop}
                            {/pc}
                
                <ul class="newsList clearfix">
                      {pc:get sql="SELECT ybl_cn_news.* FROM ybl_position_data left join ybl_cn_news on ybl_position_data.id= ybl_cn_news.id where ybl_position_data.posid=21 and ybl_cn_news.id is not null   ORDER BY listorder desc" num="3"}
                                {loop $data $r}
                                {if $n!=1}
                    <li><a href="{$r[url]}">{$r['title']}</a><span class="time">{date('Y-m-d',$r[inputtime])}</span></li>
                        {/if}
                                {/loop}
                            {/pc}
                    
                        
                </ul>
            </div>
            <div class="homeCenter">
                <div class="Plist">
                    <div class="PlistBox">
                    <ul class="imglist">
                        {pc:get sql="SELECT ybl_cn_picture.* FROM ybl_position_data left join ybl_cn_picture on ybl_position_data.id= ybl_cn_picture.id where ybl_position_data.posid=19 and ybl_cn_picture.id is not null   ORDER BY listorder desc" num="4"}
                                {loop $data $r}
                    <li><a href="{$r[url]}"  target="_blank" title="{$r[title]}" ><img src="{$r[thumb]}" width="160" height="110" /></a> <a href="{$r[url]}"><p> {$r[title]}</p></a></li>
                            {/loop}
                            {/pc}
                                 
                            
                    </ul>
                    </div>
                </div>
            </div>
            <div class="homeRight bannerSwitch03">
                <ul>
                 <li><a href=""  target="_blank" title="2015年终大促" ><img src="{IMG_PATH}img_09.jpg" width="240" height="200" /></a>
                 <a href=""><p>2015年终大促</p></a></li>
                 </ul>
                <dl>
                <dd>1</dd>  
                </dl>
            </div>
            <div class="ewm"><img src="{IMG_PATH}ewm.jpg" width="108" height="108"><br>扫一扫<br>更多信息早知道</div>
            <div class="homeShadow clearfix">
			</div>
	</div>
</div>
{template "content","footer"}