{template "content","header"}
<div class="banner bannerSwitch01">
        <ul>
            <li><img src="{IMG_PATH}261533506264.jpg" width="1440" height="565" /></li>
            <li><a href=""  target="_blank" title="alt" ><img src="{IMG_PATH}261533584716.jpg" width="1440" height="565" /></a></li>
            <li><a href=""  target="_blank" title="" ><img src="{IMG_PATH}YBLfashion_05.jpg" width="1423" height="565" /></a></li>
            <li><a href=""  target="_blank" title="" ><img src="{IMG_PATH}261533584716.jpg" width="1440" height="565" /></a></li>
                
        </ul>
        <div >
            <dl>
              <dd>1</dd>
              <dd>2</dd>
              <dd>3</dd>
              <dd>4</dd>
              </dl>
        </div>
    </div>
    <!--End .banner-->
<div id="container" class="clearfix">
  <div class="wrapMain">
            <div class="homeLeft">
                
                <div class="newsTop clearfix">
                    <div class="nTleft">
                        <a href="">
                            <img src="{IMG_PATH}21118358643.jpg" width="188" height="126" alt="" /></a></div>
                    <div class="nTright">
                        <a href="">畅享卫浴新潮流 近百名设计师齐聚赣州欧路莎</a><br />
                        <span>2014-12-02</span><br />
                        <span>“无设计，不家装”。随着人们生活水平的提高，市民对于家装设计的要求也日益多元化。11月29日，欧路莎卫浴携手近百名知名设计师盛装开业，将新兴潮的家居设计潮流与丰富多样的住宅形式融入人们的生活中，为消费者打造专属的家装风格。</span>
                        </div>
                </div>
                
                <ul class="newsList clearfix">
                    <li><a href="">盐城欧路莎“大品牌大组合”联盟劲惠登场</a><span class="time">2014-11-18</span></li>
                     <li><a href="">“明星”同台斗艳，李冰冰引爆欧路莎兰州店现场</a><span class="time">2014-11-18</span></li>
                        
                </ul>
            </div>
            <div class="homeCenter">
                <div class="Plist">
                    <div class="PlistBox">
                    <ul class="imglist">
                    <li><a href=""  target="_blank" title="IT-803JAD" ><img src="{IMG_PATH}2410151738.jpg" width="160" height="110" /></a> <a href=""><p> IT-803JAD</p></a></li>
                            
                                 <li><a href=""  target="_blank" title="IT-803JAD" ><img src="{IMG_PATH}2410151738.jpg" width="160" height="110" /></a> <a href=""><p> IT-803JAD</p></a></li>
                            
                                 <li><a href=""  target="_blank" title="IT-803JAD" ><img src="{IMG_PATH}2410151738.jpg" width="160" height="110" /></a> <a href=""><p> IT-803JAD</p></a></li>
                             <li><a href=""  target="_blank" title="IT-803JAD" ><img src="{IMG_PATH}2410151738.jpg" width="160" height="110" /></a> <a href=""><p> IT-803JAD</p></a></li>
                            
                    </ul>
                    </div>
                </div>
            </div>
            <div class="homeRight bannerSwitch03">
                <ul>
                 <li><a href=""  target="_blank" title="2015年终大促" ><img src="{IMG_PATH}img_09.jpg" width="240" height="200" /></a>
                 <a href=""><p>2015年终大促</p></a></li>
                 </ul>
                <dl>
                <dd>1</dd>  
                </dl>
            </div>
            <div class="ewm"><img src="{IMG_PATH}ewm.jpg" width="108" height="108"><br>扫一扫<br>更多信息早知道</div>
            <div class="homeShadow clearfix">
			</div>
	</div>
</div>
{template "content","footer"}