<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<link type="text/css" href="{CSS_PATH}base.css" rel="stylesheet" />
<link type="text/css" href="{CSS_PATH}page.css" rel="stylesheet" />
<script src="{JS_PATH}jquery-1.7.2.min.js" type="text/javascript"></script>
<title>亿佰利</title>
</head>
<script type="text/javascript">
        $(function(){
            $("#ddltype").change(function(){
                var value = $(this).find('option:selected').val();
                alert(value)
                $("#typeid").val(value);
            })
        })
 
        
        
        
    </script>
<body>

<div class="header clearfix">
<div class="head">

	<div class="ss">
	<div class="s11"><ul>	
	<li><a href="#"  class="s01"><img src="{IMG_PATH}t11.jpg" width="28" height="17" /></a></li>	
	<li ><a href="#" class="s02"><img src="{IMG_PATH}t22.jpg" width="28" height="17" /></a></li>
	<li ><a href="# " class="s03"> <img src="{IMG_PATH}t33.jpg" width="28" height="17" /></a></li>
	<li ><a href="#" class="s04"><img src="{IMG_PATH}t44.jpg" width="28" height="17" /></a></li>
	</ul></div>
               <form action="{APP_PATH}index.php" method="get" target="_blank" name="myform">
    	<div class="p1"></div>
        <div class="p2">
        <input name="q" id="txtkey" type="text" /></div>
        <div class="p3">
            <select id="ddltype">
          <option value="13">产品型号</option>
          <option  value="12">新闻标题</option>
      </select></div>
        <input type="hidden" name="m" value="search"/>
        <input type="hidden" name="c" value="index"/>
        <input type="hidden" name="a" value="init"/>
        <input type="hidden" name="typeid" value="13" id="typeid"/>
        <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
        <div class="p4"><input type="submit" id="btok" value="搜索" /></div>
               </form>
    </div>
    <div class="logo">
        <a href="/"><img src="{IMG_PATH}img_02.jpg" width="171" height="89" /></a>       
    </div>
    <div class="mainNav clearfix">   
        <ul class="nav clearfix">
            {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
            {loop $data $r}
            {if (count(subcat($r[catid],0,0,$siteid)) > 0 || count(subcat($r[catid],1,0,$siteid)) > 0)  && $n !=2}
                {php $zi_arr = explode(',',$r[arrchildid])}
                {php $url = $CATEGORYS[$zi_arr[1]][url]}
            {else}
                {php $url  = $r[url]}
            {/if}
            <li class="{$r[description]} "><a href="{$url}">{$r[catname]}</a></li>
            {/loop}
            {/pc}                   
        </ul>    
        <a href="{siteurl($siteid)}" class="backHome">返回首页</a>
    </div>
</div>
    <div class="navShow-about">
        <div class="navShowwrap">  
        <ul class="navList">
             {pc:content action="category" catid="6" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
             <li ><a href="{$r[url]}">{$r[catname]}</a></li>
             {/loop}
            {/pc}  

         </ul>                             
         </div>
    </div>

    <div class="navShow-product">
        <div class="navShowwrap">
         <ul class="nSplist">
          {pc:get sql="SELECT ybl_cn_picture.* FROM ybl_position_data left join ybl_cn_picture on ybl_position_data.id= ybl_cn_picture.id where ybl_position_data.posid=20 and ybl_cn_picture.id is not null   ORDER BY listorder desc" num="4"}
                                {loop $data $r}
            <li><p><a href="{$r[url]}"><img src="{$r[thumb]}" width="119" height="96" alt="{$r[title]}"/></a></p><p><a href="">{$r[title]}</a></p></li>
            {/loop}
                            {/pc}
        </ul>  
            {pc:content action="category" catid="12" num="25" siteid="$siteid" order="listorder ASC"}
            {php $i=1;}
            <ul class="nameList">     
             {loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                          {if $i%4==0}
                </ul><ul class="nameList">   
                {/if} 
                 {php  $i++;}
             {/loop}
             {/pc}
             </ul>
 </div>
    </div>
    <div class="navShow-project">
        <div class="navShowwrap">          
         <ul class="navList">
             {pc:content action="category" catid="13" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
            <li><a href="{$r[url]}" >{$r[catname]}</a></li>
               {/loop}
             {/pc}
         

              </ul>        
         </div>
    </div>
    <div class="navShow-support">
        <div class="navShowwrap">          
         <ul class="navList">
             {pc:content action="category" catid="14" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
            <li ><a href="{$r[url]}">{$r[catname]}</a></li>
             {/loop}
             {/pc}
        

         </ul>        
         </div>
    </div>
    <div class="navShow-technology">
        <div class="navShowwrap">          
         <ul class="navList">
             {pc:content action="category" catid="15" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
            <li ><a href="{$r[url]}">{$r[catname]}</a></li>
            {/loop}
             {/pc}

         </ul>        
         </div>
    </div>
    <div class="navShow-contact">
        <div class="navShowwrap">          
         <ul class="navList">
             {pc:content action="category" catid="16" num="25" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
            <li ><a href="{$r[url]}">{$r[catname]}</a></li>
             {/loop}
             {/pc}
            
         </ul>        
         </div>
    </div>
</div>