<ul class="proLeftNavList">
    {pc:content action="category" catid="75" num="25" siteid="$siteid" order="listorder ASC"}
            {loop $data $r}
            <li {if $catid==$r['catid'] || $parentid==$r['catid'] || $arrparentid[2]==$r['catid']} class="current"{/if}>
                <span class="name">
                {$r[catname]}</span>
                <dl class="ulShow">
                     {pc:content action="category" catid="$r[catid]" num="20" siteid="$siteid" order="listorder ASC"  return="child_data"}
{loop $child_data $rr}
                  <dd {if $catid==$rr['catid'] || $parentid==$rr['catid'] || $arrparentid[2]==$rr['catid']} class="current"{/if}> <a href="{$rr[url]}">{$rr[catname]}</a></dd>
                             {/loop}
            {/pc}
                  
                        
                </dl>
            </li>
                    {/loop}
            {/pc}
            
       </ul>