{template "content","header"}
<!--End .mainNav-->
    <!--End .header-->
{template "content","header_min"}
    <!--End .banner-->
    <div id="container" class="clearfix">
        <div class="wrapMain01 clearfix">
            <div class="titleMain01">
                <h1 class="title">
                    {$catname}
                </h1>
                <div class="navCrumbs01">
                   <a href="{siteurl($siteid)}">home</a> > {catpos($catid)}</div>
            </div>
            <div class="downloadWrap">
<!--                <div class="downloadSearch clearfix">
                    <span>
                        <input type="text" value="输入相关关键字" class="searchText" onfocus="if(this.value=='输入相关关键字'){this.value='';}" /></span>
                    <span>
                        <input type="button" class="searchBtn" /></span>
                </div>-->
                <ul class="downloadList clearfix">
                   
                     {pc:content action="lists" catid="$catid" num="9" order="listorder desc" page="$page" moreinfo="1"}
      {loop $data $r}
       <?php eval("\$narry =$r[downfiles];");?>
                            <li><a href="/index.php?m=download&c=index&a=download&filepath={$narry[0][fileurl]}" onclick="">
                                <div class="downloadBox">
                                    <div class="picLeft">
                                        <img  src="{$r[thumb]}" width="105" height="83" alt="" /></div>
                                    <div class="textRight">
                                        <h3 class="h3">
                                            {$narry[0][filename]}</h3>
                                        <p>
                                            date：{date('Y-m-d',$r[inputtime])}</p>
                                    </div>
                                </div>
                            </a></li>
                                  {/loop}
      {/pc}

                        
                           
                        
                    

                </ul>
                <div class="page">
                    
<!-- AspNetPager V7.2 for VS2005 & VS2008  Copyright:2003-2008 Webdiyer (www.webdiyer.com) -->
<div id="pgServer" class="page">
{$pages}
</div>
<!-- AspNetPager V7.2 for VS2005 & VS2008 End -->


                </div>
            </div>
        </div>
    </div>
    </div>
<script type="text/javascript">
        $(function () {
            
            if ($("#hfid").val() != "") {
                var hf = $("#hfid").val();
                $(".productSmain a[srcs=0]").each(function () {
                    $(".productSmain a[name=" + $(this).attr("name") + "]").each(function () {
                        if (hf.indexOf("|" + $(this).attr("srcs") + "|") > -1) {
                            $(".productSmain a[srcs=0][name=" + $(this).attr("name") + "]").parent().attr("class", "");
                            $(this).parent().attr("class", "current");
                        }
                    })

                })
                $(".proMainTop").trigger("click");
            }
            $(".proMainTop").trigger("click");
            $(".productSmain a").click(function () {
                var name = $(this).attr("name");
                var id = $(this).attr("srcs");
                var hf = $("#hfid").val();
                if (name != "" && id != "") {
                    if (hf == "") {
                        if (id != "0") {
                            hf = "|" + id + "|";
                        }
                    } else {
                        if (hf.indexOf("|" + id + "|") < 0) {
                            $(".productSmain a[name=" + name + "]").each(function () {
                                if (hf.indexOf("|" + $(this).attr("srcs") + "|") > -1) {
                                    hf = hf.replace("|" + $(this).attr("srcs") + "|", "|");
                                }
                            })
                            if (id != "0") {
                                hf += id + "|";
                            }
                        }   //                    else {
                        //                        if (hf == "") {
                        //                            hf = "|" + id + "|";
                        //                        } else {
                        //                            hf += id + "|";
                        //                        }
                        //                    }
                    }

                }
                $("#hfid").val(hf);
                if (hf == "|") hf = "";
                if (hf == "") {
                    window.location.href = "list.aspx?id=49#pro";
                } else {
                    window.location.href = "list.aspx?id=49&hid=" + hf + "#pro";
                }
            });

        });
        function voids() { }
    </script>
    <!--End .container-->
    {template "content","footer"}